body {
  margin: 0;
  background-color: #5a716a;
  font-family: Arial, Helvetica, sans-serif;
}

#body-container {
  position: relative;
  height: 300px;
  top: 25vh;
}

#profile-img-container {
  width: 200px;
  height: 300px;
  border: black 3px solid;
  border-radius: 250px;
  background-color: black;
  position: absolute;
  left: 60%;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}

#profile-img-container:hover {
  box-shadow: 0px 0px 60px rgba(242, 215, 238, 0.55);
  transition: 0.5s;
}

#profile-img {
  object-fit: cover;
}

.list {
  text-align: center;
  height: 1em;
  width: 200px;
  margin-left: 30%;
  position: absolute;
  background-color: #d0d6b5;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 20px;
}

.list-more {
  text-align: center;
  height: 90px;
  right: 10%;
  left: 10%;
  position: absolute;
  background-color: #d0d6b5;
  border-radius: 25px;
}

#education {
  top: 0;
  cursor: pointer;
}

#more-education {
  top: 0;
  transform: translateY(350px);
}

#education:hover {
  box-shadow: 0px 0px 170px 30px rgba(242, 215, 238, 0.55);
  transition: 0.5s;
}
#education:hover #more-education {
  transform: translateY(0px);
}

#work-experience {
  top: 50%;
}

#more-work-experience {
  top: 33%;
  transform: translateY(250px);
}

#work-experience:hover {
  box-shadow: 0px 0px 170px 30px rgba(242, 215, 238, 0.55);
  transition: 0.5s;
  cursor: pointer;
}

#about-me {
  bottom: 0;
}

#more-about-me {
  top: 66%;
  transform: translateY(150px);
}

#about-me:hover {
  box-shadow: 0px 0px 170px 30px rgba(242, 215, 238, 0.55);
  transition: 0.5s;
  cursor: pointer;
}
#info-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 40%;
  overflow: hidden;
}

#gitHub {
  position: absolute;
  display: table;
  height: 20px;
  width: 100px;
  background-color: #301014;
  bottom: 10%;
  opacity: 0.8;
  border-radius: 45px;
  font-size: 0.5em;
  text-align: center;
  color: white;
  font-weight: bold;
  left: 25%;
  transform: translateX(150px);
  transition: transform 0.3s;
}

#profile-img-container:hover #gitHub {
  transform: translateX(0px);
}

#check-gitHub {
  display: table-cell;
  vertical-align: middle;
}
