body {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.sidebar {
  position: fixed;
  /* background: rgb(250, 250, 210); */
  /* background: linear-gradient(
    270deg,
    rgba(250, 250, 210, 1) 0%,
    rgba(215, 176, 135, 1) 65%,
    rgba(230, 197, 197, 1) 100%
  ); */
  left: 0;
  width: 10%;
  bottom: 20vh;
  top: 20vh;
  height: auto;
  background-color: black;
  border: double 2px;
}
.main-container {
  /* background: rgb(250, 250, 210); */
  /* background: linear-gradient(
    90deg,
    rgba(250, 250, 210, 1) 0%,
    rgba(215, 176, 135, 1) 65%,
    rgba(230, 197, 197, 1) 100%
  ); */
  height: 100vh;
}

#profile-img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background-color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transition: 0.2s;
}

#social {
  position: absolute;
  top: 15vh;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80%;
  background-color: aquamarine;
}

.social {
  margin: auto;
  margin-top: 20%;
  background-color: black;
  height: 2em;
  width: 2em;
  border-radius: 50%;
}
.social:hover {
  transform: scale(1.1, 1.1);
}

.name {
  position: fixed;
  top: 0;
  bottom: 80vh;
  width: 20%;
  background-color: black;
}
#name {
  position: absolute;
  transform: translate(50%, -50%);
  top: 50%;
  right: 50%;
  text-align: center;
  color: #fff;
}

#profile-img:hover {
  transform: scale(1.1, 1.1);
}

.page-number {
  position: fixed;
  bottom: 0;
  top: 80vh;
  width: 20%;
  background-color: black;
}
